{% extends 'core/base.html' %}
{% block style %}
<style>
    #map {
        width: 85%;
        min-height: 650px;
        margin: 20px;
    }

    .box {
        float: left;
        height: 17px;
        width: 17px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid black;
        clear: both;
    }

    .yellow {
        background-color: #FFFF00;
    }

    .red {
        background-color: #FF0000;
    }

    .blue {
        background-color: #0000FF;
    }

    .purple {
        background-color: #800080;
    }
</style>

<title>Mapa da Saúde</title>
{% endblock %}
{% block body %}
<div style="text-align: center;">
    <form action="{% url 'site_mapa:mapa' %}" method="POST">
        {% csrf_token %}
        <p>
        <h5 style="margin-top: 10px;">Consultar o mapa por:</h5>
        <div class="form-check-inline">
            <label class="form-check-label" for="escolha">
                <input type="radio" class="form-check-input" id="escolha" name="escolha" value="endereco_paciente"
                    checked>
                Endereço dos pacientes
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="escolha">
                <input type="radio" class="form-check-input" id="escolha" name="escolha" value="area_ubs">
                Área das UBS
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" name="notificacao_valor" id="ButtonModal"
            style="margin-top: 10px;">
            Consultar
        </button>
        </p>
    </form>
</div>
<div id="map" class="mx-auto"></div>
<div id="helptext" style="background-color:#e9ecef; padding: 20px; border: 1px solid; font-size: 14px;">
    <h6>Legenda das cores:</h6>
    <div style="display: inline-block;">
        <div class='box yellow'></div> Suspeito
    </div>
    <br>
    <div style="display: inline-block;">
        <div class='box red'></div> Confirmado
    </div>
    <br>
    <div style="display: inline-block;">
        <div class='box blue'></div> Curado
    </div>
    <br>
    <div style="display: inline-block;">
        <div class='box purple'></div> Óbito
    </div>
</div>
<script>

    function initMap() {

        //Cria o mapa inicial
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: -5.0364390,
                lng: -42.822612
            },
            zoom: 11,
            mapTypeId: 'roadmap'
        });
        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(document.getElementById('helptext'));
        {% if escolha_notificacao.0 == "endereco_paciente" %}
        let latitudeNotificacoes = [] // array que recebe a latitude das notificações
        let longitudeNotificacoes = [] // array que recebe a longitude das notificações
        let situacaoNotificacoes = [] // array de inteiros que serve para armazenar a situação atual das notificações
        recebeEndereco(latitudeNotificacoes, longitudeNotificacoes, situacaoNotificacoes)
        for (i = 0; i < latitudeNotificacoes.length; i++) {
            marcaPonto(latitudeNotificacoes[i], longitudeNotificacoes[i], situacaoNotificacoes[i], map)
        }
        {% endif %}

        {% if escolha_notificacao.0 == "area_ubs" %}
        var infowindow = new google.maps.InfoWindow(); //Cria a janela de informação usada para a área da ubs
        let coordenadasNotificacoes = [] //Array para receber as coordenadas de todas as notificações
        let situacaoNotificacoes = [] //Array para armazenar a situação atual de todas as notificações
        recebeCoordenadas(coordenadasNotificacoes, situacaoNotificacoes)
        montaPoligonos(coordenadasNotificacoes, situacaoNotificacoes, infowindow, map)
        {% endif %}
    }

    // Função para receber a latitude e longitude dos endereços do banco de dados
    function recebeEndereco(latitudeNotificacoes, longitudeNotificacoes, situacaoNotificacoes) {
        {% for i in notificacoes_mapa %}
        {% if i.situacao_atual == "Suspeito" %}
        situacaoNotificacoes.push(1)
        {% endif %}
        {% if i.situacao_atual == "Confirmado" %}
        situacaoNotificacoes.push(2)
        {% endif %}
        {% if i.situacao_atual == "Curado" %}
        situacaoNotificacoes.push(3)
        {% endif %}
        {% if i.situacao_atual == "Óbito" %}
        situacaoNotificacoes.push(4)
        {% endif %}
        latitudeNotificacoes.push("{{i.paciente.latitude}}")
        longitudeNotificacoes.push("{{i.paciente.longitude}}")
        {% endfor %}
    }

    // Função para marcar os pontos no mapa de acordo com as latitudes e longitudes recuperadas do banco
    function marcaPonto(latitude, longitude, situacao, mapa) {
        pontoLatLng = { lat: parseFloat(latitude), lng: parseFloat(longitude) }
        if (situacao == 1) {
            var marker = new google.maps.Marker({
                map: mapa,
                position: pontoLatLng,
                icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
                }
            });
        }
        if (situacao == 2) {
            var marker = new google.maps.Marker({
                map: mapa,
                position: pontoLatLng,
                icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                }
            });
        }
        if (situacao == 3) {
            var marker = new google.maps.Marker({
                map: mapa,
                position: pontoLatLng,
                icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                }
            });
        }
        if (situacao == 4) {
            var marker = new google.maps.Marker({
                map: mapa,
                position: pontoLatLng,
                icon: {
                    url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
                }
            });
        }
    }

    /*
        // Função que envia uma requisição com o cep para a api viacep e retorna um json com o endereço
        function encontraQuadra(cep, situacao, mapa) {
            var ourRequest = new XMLHttpRequest()
            ourRequest.open('GET', 'https://viacep.com.br/ws/' + cep + '/json/')
            ourRequest.onload = function () {
                if (ourRequest.status >= 200 && ourRequest.status < 400) {
                    var ourData = JSON.parse(ourRequest.responseText)
                    marcaMapaGeocode(ourData.bairro + " " + ourData.logradouro + " " + ourData.complemento, situacao, mapa)
                } else {
                    window.alert("Conexão com o servidor feita com sucesso, porém ele retornou um erro")
                }
            }
            ourRequest.onerror = function () {
                window.alert("Um erro ocorreu")
            }
            ourRequest.send()
        }
    
        // Função que usa a geocoding api da google para colocar um marcador no endereço indicado
        function marcaMapaGeocode(address, situacao, mapa) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    if (situacao == 1) {
                        var marker = new google.maps.Marker({
                            map: mapa,
                            position: results[0].geometry.location,
                            icon: {
                                url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
                            }
                        });
                    }
                    if (situacao == 2) {
                        var marker = new google.maps.Marker({
                            map: mapa,
                            position: results[0].geometry.location,
                            icon: {
                                url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                            }
                        });
                    }
                    if (situacao == 3) {
                        var marker = new google.maps.Marker({
                            map: mapa,
                            position: results[0].geometry.location,
                            icon: {
                                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                            }
                        });
                    }
                    if (situacao == 4) {
                        var marker = new google.maps.Marker({
                            map: mapa,
                            position: results[0].geometry.location,
                            icon: {
                                url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
                            }
                        });
                    }
                }
                else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    */

    // Função para preencher um array com a string das coordenadas vinda do banco e outro array com as situações atuais 
    function recebeCoordenadas(coordenadasNotificacoes, situacaoNotificacoes) {
        // Preenche ambos arrays, coordenadasNotificacoes com as coordenadas e situacaoNotificacoes com a situação atual
        {% for i in notificacoes_mapa %}
        {% if i.situacao_atual == "Suspeito" %}
        situacaoNotificacoes.push(1)
        {% endif %}
        {% if i.situacao_atual == "Confirmado" %}
        situacaoNotificacoes.push(2)
        {% endif %}
        {% if i.situacao_atual == "Curado" %}
        situacaoNotificacoes.push(3)
        {% endif %}
        {% if i.situacao_atual == "Óbito" %}
        situacaoNotificacoes.push(4)
        {% endif %}
        coordenadasNotificacoes.push("{{i.unidade_saude.coordenadas}}")
        {% endfor %}
    }

    // Função que monta um array com longitude e latitude com base numa string com as coordenadas
    function buildCoordinatesArrayFromString(CoordenadasString) {
        var finalData = []; // Array com latitude e longitude 
        var grouped = CoordenadasString.split("                 "); // Cria um array de substrings divididas a partir do espaço usando a função split()

        // Função que é responsável por separar a latitude e a longitude e depois depositar cada instância no array finalData
        grouped.forEach(function (item, i) { // percorre cada elemento do array grouped usando o forEach
            let a = item.trim().split(','); // trim() serve para elimitar os espaços e o split serve para criar um array de substrings divididas a partir da vírgula, separando lat e lng
            // coloca o novo elemento com lgn e lat no array de coordenadas
            finalData.push({
                lng: parseFloat(a[0]),
                lat: parseFloat(a[1])
            });
        });

        // Retorna o array com todas as coordenadas devidamente organizadas
        return finalData;
    }

    function criaPoligono(path, cor) {
        var ubs_poligono = new google.maps.Polygon({
            paths: path,
            strokeColor: cor,
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: cor,
            fillOpacity: 0.35
        });
        return ubs_poligono
    }

    // Função para criar e desenhar os poligonos no mapa
    function montaPoligonos(coordenadasNotificacoes, situacaoNotificacoes, infowindow, mapa) {
        let ubsCoordenadas = [] // array que recebe as coordenadas de todas as UBS do banco
        let ubsNomes = [] // array que recebe os nomes de todas as UBS do banco
        let coordenadasFinais = [] // array para receber as coordenadas das UBS sem repetições
        let nomesFinais = [] // array para receber os nomes das UBS sem repetições
        let suspeito = [] // array para receber a quantidade de casos suspeitos na área de uma UBS
        let confirmado = [] // array para receber a quantidade de casos confirmados na área de uma UBS
        let curado = [] // array para receber a quantidade de casos curados na área de uma UBS
        let obito = [] // array para receber a quantidade de casos de obito na área de uma UBS
        let flag = 0 // flag para controlar o preenchimento do array coordenadasFinais

        {% for g in ubs_mapa %}
        ubsCoordenadas.push("{{g.coordenadas}}")
        ubsNomes.push("{{g}}")
        {% endfor %}

        // loop para zerar todos os arrays necessários
        for (let i = 0; i < ubsCoordenadas.length; i++) {
            suspeito[i] = 0
            confirmado[i] = 0
            obito[i] = 0
            curado[i] = 0
            coordenadasFinais[i] = 0
            nomesFinais[i] = 0
        }

        // koop para contabilizar os casos de cada ubs e preencher o array coordenadasFinais com a área das UBS que possuem casos
        for (let i = 0; i < coordenadasNotificacoes.length; i++) {
            for (let j = 0; j < ubsCoordenadas.length; j++) {
                if (coordenadasNotificacoes[i] == ubsCoordenadas[j]) {
                    if (situacaoNotificacoes[i] == 1) {
                        suspeito[j]++
                    }
                    if (situacaoNotificacoes[i] == 2) {
                        confirmado[j]++
                    }
                    if (situacaoNotificacoes[i] == 3) {
                        curado[j]++
                    }
                    if (situacaoNotificacoes[i] == 4) {
                        obito[j]++
                    }
                    for (let k = 0; k < coordenadasFinais.length; k++) {
                        if (coordenadasFinais[k] == ubsCoordenadas[j]) {
                            flag = 1
                        }
                    }
                    if (flag == 0) {
                        coordenadasFinais[j] = ubsCoordenadas[j]
                        nomesFinais[j] = ubsNomes[j]
                    }
                    flag = 0
                }
            }
        }

        // loop para desenhar as áreas das UBS no mapa e preparar o evento caso o usuário clique na área 
        for (let i in coordenadasFinais) {
            if (coordenadasFinais[i] != 0 && nomesFinais[i] != 0) {
                // Pintar a área da ubs de roxo caso existam a mesma quantidade de todas as situações
                if (obito[i] == suspeito[i] == confirmado[i] == curado[i]) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }

                // Pintar de roxo, pois curados = confirmados = obitos > suspeitos
                if ((curado[i] == confirmado[i] == obito[i]) && (suspeito[i] < curado[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }
                // Pintar de roxo, pois suspeitos = curados = obitos > confirmados
                if ((suspeito[i] == curado[i] == obito[i]) && (confirmado[i] < suspeito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }
                // Pintar de roxo, pois suspeitos = confirmados = obitos > curados
                if ((suspeito[i] == confirmado[i] == obito[i]) && (curado[i] < suspeito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }
                // Pintar de azul, pois suspeitos = confirmados = curados > obitos
                if ((suspeito[i] == confirmado[i] == curado[i]) && (obito[i] < suspeito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#0000FF')
                }

                // Pintar de vermelho, pois suspeitos = confirmados > curados e obitos
                if ((suspeito[i] == confirmado[i]) && (obito[i] < suspeito[i]) && (curado[i] < suspeito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#FF0000')
                }
                // Pintar de azul, pois suspeitos = curados > confirmados e obitos
                if ((suspeito[i] == curado[i]) && (obito[i] < suspeito[i]) && (confirmado[i] < suspeito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#0000FF')
                }
                // Pintar de roxo, pois suspeitos = obitos > curados e confirmados
                if ((suspeito[i] == obito[i]) && (curado[i] < suspeito[i]) && (confirmado[i] < suspeito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }
                // Pintar de azul, pois confirmados = curados > suspeitos e obitos
                if ((confirmado[i] == curado[i]) && (obito[i] < confirmado[i]) && (suspeito[i] < confirmado[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#0000FF')
                }
                // Pintar de roxo, pois confirmados = obitos > suspeitos e curados
                if ((confirmado[i] == obito[i]) && (suspeito[i] < confirmado[i]) && (curado[i] < confirmado[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }
                // Pintar de roxo, pois curados = obitos > suspeitos e confirmados
                if ((curado[i] == obito[i]) && (suspeito[i] < curado[i]) && (confirmado[i] < curado[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }

                // Pintar a área da ubs de amarelo, pois existem mais casos suspeitos
                if ((suspeito[i] > confirmado[i]) && (suspeito[i] > curado[i]) && (suspeito[i] > obito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#FFFF00')
                }
                // Pintar a área da ubs de vermelho, pois existem mais casos confirmados
                if ((confirmado[i] > suspeito[i]) && (confirmado[i] > curado[i]) && (confirmado[i] > obito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#FF0000')
                }
                // Pintar a área da ubs de azul, pois existem mais casos curados
                if ((curado[i] > suspeito[i]) && (curado[i] > confirmado[i]) && (curado[i] > obito[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#0000FF')
                }
                // Pintar a área da ubs de roxo, pois existem mais casos de óbito
                if ((obito[i] > suspeito[i]) && (obito[i] > confirmado[i]) && (obito[i] > curado[i])) {
                    var ubs_poligono = criaPoligono(buildCoordinatesArrayFromString(coordenadasFinais[i]), '#800080')
                }

                ubs_poligono.setMap(mapa);

                // Evento para fechar a infowindow caso o usuário clique num lugar do mapa sem ser a área de alguma UBS
                google.maps.event.addListener(mapa, 'click', function () {
                    infowindow.close();
                });

                // Evento para exibir a infowindow com o nome da UBS e a quantidade cada um dos tipos de notificações
                ubs_poligono.addListener('click', function (event) {
                    var contentString = '<div id="content">' + "<h6>" + String(nomesFinais[i]) + "</h6>" + "Casos suspeitos: " +
                        String(suspeito[i]) + "<br><br>" + "Casos confirmados: " + String(confirmado[i]) + "<br><br>" +
                        "Casos curados: " + String(curado[i]) + "<br><br>" + "Número de óbitos: " + String(obito[i]) + "<br><br>" +
                        "Total de notificações: " + String(suspeito[i] + confirmado[i] + curado[i] + obito[i]) + '</div>';
                    infowindow.setContent(contentString);
                    infowindow.setPosition(event.latLng);
                    infowindow.open(mapa);
                });
            }
        }
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap" async defer></script>
{% endblock %}